@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Questrial", sans-serif;
  background-color: rgba(236, 236, 236, 0.305);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 15px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #feb775;
}

::-webkit-scrollbar-thumb {
  background: #172554;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #172554;
}